<v-app id="inspire" class='white'>
        <v-flex xs10 offset-xs1>
            <h1>Barang Baru</h1>
            <template>
                <v-flex 
                    flex d-flex xs12 sm6 offset-sm3 md4 offset-md4
                >
                    <v-card>
                        <v-container fluid grid-list-lg>
                        <v-card-media :src="newbarang.img" height="200px" contain></v-card-media>
                        <v-card-title class="text-xs-left">
                            <div>
                                <h3 class="headline mb-0">{{newbarang.nama}}</h3>
                                <div>{{newbarang.detil}}</div>
                                <div>{{parseInt(newbarang.harga).toLocaleString('ko-KR')}} won </div>
                                </div>
                            </div>
                        </v-card-title>
                        <v-card-actions class="white">
                            <v-btn icon>
                                <v-icon class="pink--text">favorite</v-icon>
                                <span class="title ml-2">{{newbarang.likes}}</span>
                            </v-btn>
                            <v-spacer></v-spacer>
                            <v-btn icon>
                            <v-icon>remove</v-icon>
                            </v-btn>
                            <span class="title">0</span>
                            <v-btn icon>
                            <v-icon>add</v-icon>
                            </v-btn>
                        </v-card-actions>
                        </v-container>
                    </v-card>
                </v-flex>
                <br />
                <v-card dark>
                    <v-card-text>
                        <v-container fluid>
                            <v-layout row>
                                <v-flex xs12 sm8 offset-sm2>
                                    <v-select
                                        :items="kategoris"
                                        item-text="nama"
                                        item-value="id"
                                        v-model="newbarang.kategori"
                                        label="Kategori"
                                        bottom
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs12 sm8 offset-sm2>
                                    <v-text-field
                                        v-model="newbarang.nama"
                                        label="Nama Barang"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs12 sm8 offset-sm2>
                                    <v-text-field
                                        v-model="newbarang.jenis"
                                        label="Jenis Barang"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row>
                                <v-flex xs12 sm8 offset-sm2>
                                    <v-text-field
                                        v-model="newbarang.perusahaan"
                                        label="Perusahaan (Opsional)"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row align-center>
                                <v-flex xs12 sm8 offset-sm2>
                                    <v-text-field
                                        v-model="newbarang.detil"
                                        label="Keterangan"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row align-center>
                                <v-flex xs12 sm8 offset-sm2>
                                    <v-text-field
                                        v-model="newbarang.harga"
                                        label="Harga"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout row align-center>
                                <v-flex xs12 sm8 offset-sm2>
                                    <v-text-field
                                        v-model="newbarang.img"
                                        label="Gambar"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-layout row>
                            <v-flex xs4 offset-xs4>
                                <v-btn class="red white--text" @click.stop="tambah()">Tambah</v-btn>
                            </v-flex>
                        </v-layout>
                    </v-card-actions>
                </v-card>
            </template>
            <br />
            <br />
            <template>
                <h3 class="headline">Daftar Barang</h3>
                <br />
                <v-container fluid grid-list-md>
                    <v-layout row wrap>
                        <v-flex d-flex xs12 md12 lg6
                            v-for="barang, i in barangsItems" key="i">
                            <v-card>
                                <v-layout row wrap class="align-center">
                                    <v-flex xs12 md6>
                                        <v-card-text class="pt-0 pb-0 text-xs-left">
                                            <v-avatar class="accent text-xs-left black--text">
                                                {{i + 1}}
                                            </v-avatar>
                                        </v-card-text>
                                        <v-card-media
                                            :src="barang.img"
                                            height="100px"
                                            contain
                                        ></v-card-media>
                                        <v-card-text class="pb-0 pt-0">
                                            <v-text-field
                                                v-model="barang.nama"
                                                label="Nama"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="pb-0 pt-0">
                                            <v-select
                                                :items="kategoris"
                                                item-text="nama"
                                                item-value="id"
                                                v-model="barang.kategori"
                                                label="Kategori"
                                                bottom
                                            ></v-select>
                                        </v-card-text>
                                        <v-card-text class="pb-0 pt-0">
                                            <v-text-field
                                                prepend-icon="favorite"
                                                v-model="barang.likes"
                                                label="Favorit"
                                                color="red"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                    <v-flex xs12 md6>
                                        <v-card-text class="pb-0 pt-0">
                                            <v-text-field
                                                v-model="barang.img"
                                                label="Gambar"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="pb-0 pt-0">
                                            <v-text-field
                                                v-model="barang.jenis"
                                                label="Jenis"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="pb-0 pt-0">
                                            <v-text-field
                                                v-model="barang.perusahaan"
                                                label="Perusahaan"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="pb-0 pt-0">
                                            <v-text-field
                                                v-model="barang.detil"
                                                label="Keterangan"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-text class="pb-0 pt-0">
                                            <v-text-field
                                                v-model="barang.harga"
                                                label="Harga"
                                            ></v-text-field>
                                        </v-card-text>
                                    </v-flex>
                                </v-layout>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn class="blue white--text" @click.stop="setBarang(barang)">Set</v-btn>
                                    <v-btn class="red white--text" @click.stop="hapusBarang(barang)">Hapus</v-btn>
                                </v-card-actions>
                            </v-card> 
                        </v-flex>
                    </v-layout>
                </v-container>
                <!-- <v-data-table
                    v-bind:headers="barangsHeaders"
                    :items="barangsItems"
                    class="elevation-1"
                    hide-actions
                    dark
                  >
                  <template slot="items" slot-scope="props">
                    <td class="text-xs-left">
                        <p>{{props.index}}</p>
                    </td>
                    <td class="text-xs-left">
                        <v-card>
                        <v-card-media :src="props.item.img" height="50px" contain></v-card-media>
                        <v-card-text>
                            <v-text-field
                                :name="'input-img-' + props.item.id"
                                v-model="props.item.img"
                                label="Gambar"
                                single-line
                            ></v-text-field>
                        </v-card-text>
                        </v-card>
                    </td>
                    <td class="text-xs-left">
                        <v-text-field
                            :name="'input-nama-' + props.item.id"
                            v-model="props.item.nama"
                            label="Nama Barang"
                            single-line
                        ></v-text-field>
                    </td>
                    <td class="text-xs-left">
                        <v-select
                            :name="'input-kategori-' + props.item.id"
                            :items="kategoris"
                            item-text="nama"
                            item-value="id"
                            v-model="props.item.kategori"
                            label="Kategori"
                            single-line
                            bottom
                        ></v-select>
                    </td>
                    <td class="text-xs-left">
                        <v-text-field
                            :name="'input-jenis-' + props.item.id"
                            v-model="props.item.jenis"
                            label="Jenis"
                            single-line
                        ></v-text-field>
                    </td>
                    <td class="text-xs-left">
                        <v-text-field
                            :name="'input-perusahaan-' + props.item.id"
                            v-model="props.item.perusahaan"
                            label="Perusahaan"
                            single-line
                        ></v-text-field>
                    </td>
                    <td class="text-xs-left">
                        <v-text-field
                            :name="'input-detil-' + props.item.id"
                            v-model="props.item.detil"
                            label="Keterangan"
                            single-line
                        ></v-text-field>
                    </td>
                    <td class="text-xs-left">
                        <v-text-field
                            :name="'input-harga-' + props.item.id"
                            v-model="props.item.harga"
                            label="Harga"
                            single-line
                        ></v-text-field>
                    </td>
                    <td class="text-xs-left">
                        <v-text-field
                            :name="'input-img-' + props.item.likes"
                            v-model="props.item.likes"
                            label="Hit"
                            single-line
                        ></v-text-field>
                    </td>
                    <td class="text-xs-left">
                        <v-btn @click.stop="setBarang(props.item)">Set</v-btn>
                        <v-btn @click.stop="hapusBarang(props.item)">Hapus</v-btn>
                    </td>
                  </template>
                </v-data-table> -->
                <v-btn large class="blue darken-3" @click.stop="tambahlist()">Tambah Daftar</v-btn>
                <!-- <v-btn large class="red white--text" @click.stop="simpan()" disabled>Simpan</v-btn> -->
            </template>
        </v-flex>
    </v-app>